
:root {
  --primary-bg: #282c34;
  --secondary-bg: #191f2abf;
  --primary-text: yellow;
  --secondary-text: #c9d1d9;
  --max-w: 860px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
