.Nav-header {
    display: flex;

}

.Nav-header a {
    text-decoration: none;
    color: var(--primary-text);
    margin: 5px 10px;
    font-size: 1.7rem;
    transition: all 0.2s;
}

.Nav-header a:hover {
    color: rgba(255, 255, 0, 0.531);
}